#wrapper{
    footer {
        margin-top: 4rem;
        .navbar-dark {
            .navbar-nav {
                .nav-link {
                    color: rgba(255, 255, 255, 0.75);
                    @include hover-focus {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
        .social {
            .nav-link {
                font-size: $font-size-lg;
            }
        }
        .dropdown-menu {
            min-width: 100%;
            border-radius: 0;
            border: 0;
            -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
            border-bottom: 4px solid $primary;
        }
    }
}