.pa-compartir {
    hr {
        margin-top: .75rem;
        margin-bottom: .75rem;
    }
    .navbar-nav::after {
        content: "|";
        color: #172073;
        padding-right: .5rem;
        margin-left: .5rem;
    }
    .navbar-nav:last-child::after {
        display: none;
    }
    .nav-link {
        font-size: 1.09375rem;
        color: #172073;
        padding-top: 0;
        padding-bottom: 0;
    }
}