
#wrapper{
   header {
       .pa-header-t1 {
          .pa-header-row1 {
             min-height: 10px;
             .navbar-nav {
                .nav-link {
                   font-size: $font-size-lg;
                   color: rgba(255, 255, 255, 0.75);
                   @include hover-focus {
                      color: rgba(255, 255, 255, 1);
                   }
                }
             }
             .navbar.navbar-dark {
                padding-top: 0;
                padding-bottom: 0;
                .navbar-nav {
                   &:after {
                      content: "|";
                      color: rgba(255, 255, 255, 0.75);
                   }
                   &:last-child:after {
                      display: none;
                   }
                   .nav-link {
                      padding-top: 0;
                      padding-bottom: 0;
                      &.pa-search-btn {
                         color: rgba(255, 255, 255, 1);
                         &.collapsed {
                            color: rgba(255, 255, 255, 0.75);
                            &:hover {
                               color: rgba(255, 255, 255, 1);
                            }
                         }
                      }
                   }
                }
             }
          }
          .pa-header-row2 {
             .navbar {
                padding: 0;
                .navbar-brand {
                   position: relative;
                   padding: 10px 20px;
                   &:after {
                      content: "";
                      position: absolute;
                      background: $primary;
                      position: absolute;
                      top: 0;
                      left: -15px;
                      height: 100%;
                      width: 15px;
                   }
                   &.w-subbrand:before {
                      content: "";
                      position: absolute;
                      background: #172073;
                      position: absolute;
                      top: 10px;
                      right: 0;
                      height: calc(100% - 20px);
                      width: 1px;
                   }
                   img {
                      width: 190px;
                   }
                }
                .navbar-nav {
                   .nav-link {
                      height: 100%;
                      padding-right: 1.5rem;
                      padding-left: 1.5rem;
                      padding-bottom: .5rem;
                      color: $gray-800;
                      @include hover-focus {
                         color: $primary;
                      }
                      &:hover {
                         padding-bottom: 0.25rem;
                         border-bottom: .25rem solid $primary;
                      }
                   }
                   .show {
                      .nav-link {
                         color: $primary;
                         padding-bottom: 0.25rem;
                         border-bottom: .25rem solid $primary;
                      }
                   }
                }
                .dropdown-menu {
                   min-width: 100%;
                   border-radius: 0;
                   border: 0;
                   -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                   -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                }
             }
          }
       }
       .pa-header-t2 {
          .pa-header-row1 {
             min-height: 10px;
          }
          .pa-header-row2 {
             .navbar {
                padding: 0;
                .navbar-brand {
                   position: relative;
                   padding: 10px 20px;
                   &:after {
                      content: "";
                      position: absolute;
                      background: $primary;
                      position: absolute;
                      top: 0;
                      left: -15px;
                      height: 100%;
                      width: 15px;
                   }
                   &.w-subbrand:before {
                      content: "";
                      position: absolute;
                      background: #172073;
                      position: absolute;
                      top: 10px;
                      right: 0;
                      height: calc(100% - 20px);
                      width: 1px;
                   }
                   img {
                      width: 190px;
                   }
                }
                .navbar-nav {
                   &:after {
                      content: "|";
                      color: $primary;
                   }
                   &:last-child:after {
                      display: none;
                   }
                }
                .nav-link {
                   padding-top: 0;
                   padding-bottom: 0;
                   &.pa-search-btn {
                      color: $primary;
                      &.collapsed {
                         color: $primary;
                         &:hover {
                            color: $link-hover-color;
                         }
                      }
                   }
                }
                .nav-link {
                   font-size: $font-size-lg;
                   color: $primary;
                   @include hover-focus {
                      color: $link-hover-color;
                   }
                }
             }
          }
          .pa-header-row3 {
             .navbar {
                padding: 0;
                .navbar-nav {
                   .nav-link {
                      height: 100%;
                      padding-right: 1.5rem;
                      padding-left: 1.5rem;
                      padding-bottom: 1rem;
                      padding-top: 1rem;
                      color: $gray-800;
                      @include hover-focus {
                         color: $primary;
                      }
                      &:hover {
                         padding-bottom: 0.75rem;
                         border-bottom: .25rem solid $primary;
                      }
                   }
                   .show {
                      .nav-link {
                         color: $primary;
                         padding-bottom: 0.25rem;
                         border-bottom: .25rem solid $primary;
                      }
                   }
                }
                .dropdown-menu {
                  max-width: none;
                  width: auto;
                  max-height: none;
                   border-radius: 0;
                   border: 0;
                   -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                   -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                   box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
                }
             }
          }
       }
       .pa-header-t1 .pa-header-row2 .navbar,
       .pa-header-t2 .pa-header-row2 .navbar {
          .navbar-brand {
             &.bg-primary {
                padding: 10px 25px 10px 15px;
                @include hover-focus {
                   background-color: $primary !important;
                }
             }
          }
       }
       .pa-header-movil {
          margin-left: -15px;
          margin-right: -15px;
          .navbar {
             padding: 0;
             .navbar-brand {
                color: #fff;
                padding: 0.25rem .5rem 0.15rem .5rem;
             }
             .fab,
             .fas {
                font-size: 1.5rem;
                padding: 0 .25rem;
             }
          }
          #pa-subMenuMovil {
             padding: 0.75rem 1rem;
          }
          .dropdown-menu {
            max-width: none;
            width: auto;
            max-height: none;
             border-radius: 0;
             border: 0;
          }
          .navbar-toggler {
             padding: 0.5rem 1rem;
             color: $primary;
             border-color: rgba(255, 255, 255, 1);
             background-color: rgba(255, 255, 255, 1);
             border-radius: 0;
             .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
             }
          }
       }
    }
   }