#wrapper{
.modal-content {
    border: 0;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    min-height: 4rem;
    border-top: 0;
    background-image: url(../images/mid-logo-modal@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}
}