.pa-notificacion {
    &.alert {
        position: relative;
        padding: 0;
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
    }
    >div {
        padding: 1rem 3.5rem 1rem 1rem;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: .75rem 1.25rem;
        opacity: .65;
        text-shadow: none;
        &:not(:disabled):not(.disabled):hover,
        &:not(:disabled):not(.disabled):focus {
            opacity: 1;
        }
    }
}