#breadcrumb-pa{
    .portlet-header{
        display: none;
    }
    .portlet-content{
        border: 0;
        padding: 0;
    }
}

.accordion > .card{
    margin-bottom: 0;
    .card-header{
        .btn{
            white-space: inherit;
        }
    }
}
.novedades{
    .card {
        height: 100%;
        margin-bottom: 0;
    }
}

#pa-search, #pa-search-movil{
    #portlet_com_liferay_portal_search_web_portlet_SearchPortlet{
        margin-bottom: 0;
        .fieldset {
            .form-group-inline{
                width: calc(100% - 60px);
                margin-bottom: 0;
            }
            .lfr-ddm-field-group-inline{
                margin-bottom: 0;
                span[class^="icon-monospaced"], .icon-monospaced {
                    height: auto;
                    line-height: 20px;
                    width: 1rem;
                }
            }
        }
    }
}

#footer {
    .navbar-brand {
        max-width: initial;
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown-menu {
        max-width: none;
        width: auto;
        max-height: none;
         border-radius: 0;
         border: 0;

      }
}

.portlet-asset-publisher{
    .header-title{
        display: none;
    }
}

.pa-footer-aux{
    min-height:10px;
}