#wrapper{
.indicators {
    bottom: .4rem;
    left: 20px;
    @include media-breakpoint-up(md) {
        bottom: -1.5rem;
        left: 0;
    }
    right: initial;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0; // override <ol> default
    // Use the .carousel-control's width as margin so we don't overlay those
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;
    margin-bottom: 0;
    list-style: none;
    li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        margin-right: $carousel-indicator-spacer;
        margin-left: 0;
        text-indent: -999px;
        cursor: pointer;
        background-color: $light;
        @include media-breakpoint-up(md) {
            background-color: $carousel-indicator-active-bg;
        }
        background-clip: padding-box;
        // Use transparent borders to increase the hit area by 10px on top and bottom.
        border-top: $carousel-indicator-hit-area-height solid transparent;
        border-bottom: $carousel-indicator-hit-area-height solid transparent;
        opacity: .25;
        @include transition($carousel-indicator-transition);
    }
    .active {
        opacity: 1;
    }
}
}