.pa-panel>h1,
.pa-panel>h2,
.pa-panel>h3,
.pa-panel>h4,
.pa-panel>h5 {
    margin-left: -2rem;
    padding-left: 2rem;
    padding-bottom: 0.3rem;
    width: auto;
    display: inline-block;
    padding-right: 5rem;
    min-width: 25%;
}

.pa-panel a.d-block {
    &:hover {
        text-decoration: none;
        background-color: #fff;
    }
}

.pa-heading h1,
.pa-heading h2,
.pa-heading h3,
.pa-heading h4,
.pa-heading h5 {
    margin-left: -1rem;
    padding-left: 1rem;
    padding-bottom: 0.3rem;
    width: auto;
    display: inline-block;
    padding-right: 5rem;
    min-width: 25%;
    margin-bottom: 0;
}

.w-logo {
    @include gradient-y($start-color: #e3e3e3, $end-color: #f5f5f5, $start-percent: 0%, $end-percent: 100%);
    padding-bottom: 5rem !important;
    position: relative;
    //background-image: url(../images/mid-logo-list.png);
    //background-repeat: no-repeat;
    &:after {
        content: "";
        background-image: url(../images/mid-logo-list@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 5rem;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: .25rem;
        z-index: 1;
    }
}

.subbbrand {
    img {
        width: 150px;
    }
}